obj/
bin/
Bin/
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
App_Data/
*.pdb
*.publish.xml
WikipediaMaze.Web.Publish.xml
Web.config
*.user
*.orig
packages
PrecompiledWeb
core-only
Release
Artifacts
