<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=2.1.0.4000, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="WikipediaMazeConnection" connectionString="Data Source=micah-laptop;database=wikipediamaze;integrated security=true;" />
    <add name="MongoConnectionString" connectionString="mongodb://localhost:27017/wikipediamaze" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CssInclude" value="~/content/reset.css,~/Content/jquery-ui-1.8.9.custom.css,~/Content/jquery.autocomplete.css,~/Content/Site.css" />
    <add key="JavaScriptInclude" value="~/Scripts/jquery-1.4.4.min.js,~/Scripts/jquery-ui.min.js,~/Scripts/jquery.scrollTo-min.js,~/scripts/Main.js" />
    <add key="MobileCss" value="~/content/reset.css,~/content/mobile.css" />
    <add key="MobileJs" value="" />
    <add key="WikiCssInclude" value="~/Content/wiki.css" />
    <add key="WikiJavaScriptInclude" value="~/Scripts/jquery-1.4.4.min.js,~/Scripts/wiki.js" />
    <add key="FacebookApiKey" value="7667dc66a728be92f52ff4e12fce6318" />
    <add key="FacebookSecret" value="52de0ace650709bcfad86edc19326c00" />
    <add key="TwitterUserName" value="wikipediamaze" />
    <add key="TwitterPassword" value="madsat25" />
    <add key="IsOffline" value="False" />
    <add key="DefualtPageSize" value="25" />
    <add key="SupportEmailAddress" value="support@wikipediamaze.com" />
    <add key="TopicExpirationDays" value="30" />
    <add key="SettingPuzzleInfoExpirationMinutes" value="60" />
    <add key="DefaultGravatarProvider" value="identicon" />
    <add key="TwitterServiceUrl" value="http://twitter.com/" />
    <add key="TwitterConsumerKey" value="ZQsKdFYNqE40Yz4uq16zA" />
    <add key="TwitterConsumerSecret" value="q74s1mzI5lIwWxObE9Rp1yZv3U0agMsTA8uOlMm8M" />
    <add key="DownVoteReputationValue" value="-5" />
    <add key="MinimumReputationToUpVote" value="0" />
    <add key="MinimumReputationToDownVote" value="0" />
    <add key="UpVoteReputationValue" value="10" />
    <add key="PointsAwardedToCreatorWhenPuzzleIsPlayed" value="5" />
    <add key="AverageSolutionReputationValue" value="25" />
    <add key="MinimumSolutionReputationValue" value="10" />
    <add key="MaximumDailyVoteLimit" value="30" />
    <add key="MinimumReputationToEditPuzzle" value="100" />
    <add key="AppName" value="Wikipedia Maze" />
    <add key="PuzzleLeaderUpdateInterval" value="300" />
    <add key="ThemeCountUpdateInterval" value="60" />
    <add key="UpdatePuzzleSolutionCountInterval" value="86400" />
    <add key="AwardBadgeInterval" value="30" />
    <add key="PuzzlesMaxPageSize" value="50" />
    <add key="FlairCacheMinutes" value="15" />
    <add key="RpxApiKey" value="421f2bf3e7d7dad48720188fd4d4cbb46d36632e" />
    <add key="RpxDomain" value="wikipediamaze.rpxnow.com" />
    <add key="GoogleAnalytics" value="UA-8276733-2" />
    <add key="JSVersion" value="01312011" />
    <add key="CSSVersion" value="01312011" />
    <add key="DisqusShortName" value="wikipediamaze" />
    <add key="Domain" value="wikipediamaze.com" />
  </appSettings>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
</configuration>