<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=2.1.0.4000, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="elmah">
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WikipediaMaze.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="WikipediaMaze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--<log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <root>
      <level value="Info" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>-->
  <connectionStrings>
    <add name="WikipediaMazeConnection" connectionString=""/>
  </connectionStrings>
  <uri>
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CssInclude" value="~/Content/jquery-ui-1.8.9.custom.css,~/Content/jquery.autocomplete.css,~/Content/Site.css"/>
    <add key="JavaScriptInclude" value="~/Scripts/jquery-1.4.4.min.js,~/Scripts/jquery-ui.min.js,~/Scripts/jquery.scrollTo-min.js,~/scripts/Main.js"/>
    <add key="WikiCssInclude" value="~/Content/wiki.css"/>
    <add key="WikiJavaScriptInclude" value="~/Scripts/jquery-1.4.4.min.js,~/Scripts/wiki.js"/>
    <add key="FacebookApiKey" value=""/>
    <add key="FacebookSecret" value=""/>
    <add key="TwitterUserName" value=""/>
    <add key="TwitterPassword" value=""/>
    <add key="IsOffline" value="False"/>
    <add key="DefualtPageSize" value="25"/>
    <add key="SupportEmailAddress" value=""/>
    <add key="TopicExpirationDays" value="30"/>
    <add key="SettingPuzzleInfoExpirationMinutes" value="60"/>
    <add key="DefaultGravatarProvider" value="identicon" />
    <add key="TwitterServiceUrl" value="http://twitter.com/" />
    <add key="TwitterConsumerKey" value=""/>
    <add key="TwitterConsumerSecret" value=""/>
    <add key="DownVoteReputationValue" value="-5"/>
    <add key="MinimumReputationToUpVote" value="0"/>
    <add key="MinimumReputationToDownVote" value="0"/>
    <add key="UpVoteReputationValue" value="10"/>
    <add key="PointsAwardedToCreatorWhenPuzzleIsPlayed" value="5"/>
    <add key="AverageSolutionReputationValue" value="25"/>
    <add key="MinimumSolutionReputationValue" value="10"/>
    <add key="MaximumDailyVoteLimit" value="30"/>
    <add key="MinimumReputationToEditPuzzle" value="100"/>
    <add key="AppName" value="Wikipedia Maze"/>
    <add key="PuzzleLeaderUpdateInterval" value="300"/>
    <add key="ThemeCountUpdateInterval" value="4500"/>
    <add key="UpdatePuzzleSolutionCountInterval" value="86400"/>
    <add key="AwardBadgeInterval" value="120"/>
    <add key="PuzzlesMaxPageSize" value="100"/>
    <add key="FlairCacheMinutes" value="15"/>
    <add key="RpxApiKey" value=""/>
    <add key="RpxDomain" value=""/>
    <add key="GoogleAnalytics" value=""/>
    <add key="JSVersion" value="01312011"/>
    <add key="CSSVersion" value="01312011"/>
    <add key="DisqusShortName" value=""/>
    <add key="Domain" value=""/>
  </appSettings>
  <elmah>
    <security allowRemoteAccess="yes"/>
    <!--
      <errorMail from="elmah@wikipediamaze.com"
           to="you@email.com"
           subject="Exception Occurred"
           async="true"
           smtpPort="25"
           smtpServer="localhost"
    -->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
  </elmah>
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <clear/>
          <add name="scripts" varyByParam="none" duration="2592000"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" slidingExpiration="true" path="/" protection="All"/>
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error/Unknown">
      <error statusCode="403" redirect="/Error/Forbidden"/>
      <error statusCode="404" redirect="/Error/NotFound"/>
      <error statusCode="500" redirect="/Error/ServerError"/>
      <error statusCode="503" redirect="/Error/Unavailable"/>
    </customErrors>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="WikipediaMaze"/>
        <add namespace="WikipediaMaze.App"/>
        <add namespace="WikipediaMaze.Core"/>
        <add namespace="WikipediaMaze.Web"/>
        <add namespace="MvcContrib"/>
        <add namespace="MvcContrib.Pagination"/>
        <add namespace="MvcContrib.UI"/>
        <add namespace="MvcContrib.UI.Html"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add name="RemoveWWW" type="WikipediaMaze.Core.Web.RemoveWWWPrefixModule"/>
    </httpModules>
    <sessionState timeout="30" mode="Custom" customProvider="Sqlite">
      <providers>
        <add name="Sqlite" type="Littlefish.SQLiteSessionStateProvider.SQLiteSessionStateStoreProvider, Littlefish.SQLiteSessionStateProvider" databaseFile="~/App_Data/SessionState.db3" />
      </providers>
    </sessionState>
    <trust level="Full"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add name="RemoveWWW" type="WikipediaMaze.Core.Web.RemoveWWWPrefixModule"/>
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
