<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WikipediaMaze.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <WikipediaMaze.Core.Properties.Settings>
            <setting name="FacebookApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefualtPageSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SupportEmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TopicExpirationDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SettingPuzzleInfoExpirationMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultGravatarProvider" serializeAs="String">
                <value>identicon</value>
            </setting>
            <setting name="TwitterServiceUrl" serializeAs="String">
                <value>http://twitter.com/</value>
            </setting>
            <setting name="TwitterConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterConsumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="DownVoteReputationValue" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="MinimumReputationToUpVote" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimumReputationToDownVote" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpVoteReputationValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PointsAwardedToCreatorWhenPuzzleIsPlayed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AverageSolutionReputationValue" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MinimumSolutionReputationValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaximumDailyVoteLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinimumReputationToEditPuzzle" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Wikipedia Maze</value>
            </setting>
            <setting name="PuzzleLeaderUpdateInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ThemeCountUpdateInterval" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="UpdatePuzzleSolutionCountInterval" serializeAs="String">
                <value>86400</value>
            </setting>
            <setting name="AwardBadgeInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PuzzlesMaxPageSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FlairCacheMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RpxApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RpxDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleAnalytics" serializeAs="String">
                <value />
            </setting>
        </WikipediaMaze.Core.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
