@model IEnumerable<WikipediaMaze.Core.Badge>

@{
    ViewBag.Title = "Badges";
}

@section SectionTitle
{
    <h2>Badges</h2>
}

<div id="column-full">
    @foreach (var badge in Model)
    {
        <div class="badges-large-display">
            <p>
                <span class="badge-large"><span class="@(badge.Level.ToString().ToLower())-large">@badge.Name</span></span> 
                <span class="badge-description">@badge.Description</span></p>
        </div>
    }
</div>
