@{
    ViewBag.Title = "About";
}
@section SectionTitle
{
    <h2>About</h2>
}
    <div id="column-full">
        <div class="content-page reading-text">
            <p>
                <em>Wikipedia maze</em> is a game based on the popular <a href="http://www.wikipedia.org/" title="Wikipedia">Wikipedia</a> website. 
                The concept is simple; Starting with a particular topic try and navigate to the designated end topic in as few clicks as possible following only links to other topics.
            </p>

            <p>Users have the opportunity to earn points from either solving or creating <em>puzzles</em>. When certain benchmarks are reached users are awarded <em>badges</em> to show off their achievements.</p>
                
            <p>
                The game was created and developed by <a href="mailto:micah@codingcontext.com">Micah Martin</a> and designed by <a href="http://twitter.com/ackernaut">Terry Acker</a>.
            </p>

            <p>Special thanks to my wife Holly and four children, Noah, Jonah, Isaac, and Hannah, for their endless love and support. 
               Particularly my wife for going along with <em>yet another one of my ideas.</em> 
               Also a special thanks to the rest of my friends and family (Esther) for constant feedback and idea sharing.</p>
        </div>
    </div>