<!DOCTYPE>
<html>
<head>
    <title>Offline For Maintenance - Wikipedia Maze</title>
    <meta name="robots" content="noindex, nofollow" />
    <link href="/Content/Site.css?v=08252009" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header-left">
                <h1 id="logo" title="Wikipedia Maze Logo">
                    <a href="/">Wikipedia Maze</a></h1>
            </div>
        </div>
        <div id="section-title">
            <h2>Offline For Maintenance</h2>
        </div>
        <div id="columns" style="min-height:300px;">
            <div id="column-full">
                <div class="content-page">
                        <p><em>Wikipedia Maze</em> is currently down for maintenance.</p>
                        <p>We are working hard at improving your experience by constantly adding additional features and fixing bugs.
                        Please check back in just a couple of hours and we should be back up and running.</p>
                        <p>If you have any suggestions on how we may improve the site please <a href="mailto:support@wikipediamaze.com" title="Support Email Address">let us know</a></p>
                        <p>Thank you for your patience and we hope you enjoy playing <em>Wikipedia Maze</em></p>
                </div>
            </div>
        </div>
        <div id="footer">
            
        </div>
    </div>

<!-- User Voice Script -->

<script type="text/javascript">
    var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
    document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
    UserVoice.Tab.show({
        key: 'wikipediamaze',
        host: 'wikipediamaze.uservoice.com',
        forum: 'general',
        alignment: 'right', /* 'left', 'right' */
        background_color: '#94C97B',
        text_color: 'white', /* 'white', 'black' */
        hover_color: '#7AA1C5',
        lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
    })
</script>

<!-- Google Analytics Script -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '@WikipediaMaze.Core.Settings.GoogleAnalytics']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
