@{
    ViewBag.Title = "You need to log in first...";
}

@section SectionTitle
{
    <h2>You need to log in first...</h2>
}

<p>
    The page you requested requires you to be @Html.ActionLink("logged in", "login", "account").
</p>

