@{
    ViewBag.Title = "Whoops! Something happened...";
}

@section SectionTitle
{
    <h2>Whoops! Something happened...</h2>
}

<p>
    Unfortunately something went wrong. We're checking into it and should have it fixed soon.
</p>

