@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Error.cshtml";
}

@section SectionTitle
{
    <h2>Error</h2>
}

@section SectionTitle
{
    <h2>Offline</h2>
}

<p>
    We are currently experiencing issues with our hosting provider. We're working hard at resolving these issues. 
</p>
<p>
    In the meantime, if you're looking for something to do, <a href="http://blog.wikipediamaze.com">check out our blog</a> or <a href="http://wikipediamaze.uservoice.com">tell us how we can make the game better</a>.
</p>

