@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Error.cshtml";
}

@section SectionTitle
{
    <h2>Not Found</h2>
}

<p>
    Sorry, but the page you requested could not be found.  
</p>
<p>
    If you you're looking for something that you think should exist, please <a href="mailto:support@wikipediamaze.com" title="Support Email Address">let us know</a>.
    If you were in the middle of solving a puzzle, just hit the back button and choose a different topic.
</p>

